.Link{
    color: #9A7B4F;
    text-decoration: none;
}

.Button{
    background-color: #5E2C04;
    border-radius: 2.063rem;
    color: white;
    text-transform: capitalize;
}

.Button:hover{
    opacity: 0.5;
    color: white;
    transition: 0.3s all;
}

.Button:disabled{
    color: white;
    cursor: not-allowed;
}

.Heading{
    color: #652A0E;
}


.Text{
    color: #6F6C99;
}

.Input{
    border: 1px solid #C3CBCD;
    height: 3.563rem;
    border-radius: 2.063rem;
    padding-left: 1rem;
}

.Input:focus{
    border: 1px solid #C3CBCD;
}

@media screen and (min-width: 400px) and (max-width: 600px) {  
    .Input{
        border: 1px solid #C3CBCD;
        height: 2.563rem;
        border-radius: 2.063rem;
        padding-left: 1rem;
    }
    .Button{
        background-color: #4F13A6!important;
        border-radius: 2.063rem!important;
        height: 2.563rem;
        color: white!important;
        text-transform: capitalize!important;
    }
}

.Background{
    background-color: #F6BE00;
}

.ActiveButton{
    background-color: #F6BE00;
    border: 1px solid #5E2C04;
    border-radius: 2.063rem!important;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    .Input{
        border: 1px solid #C3CBCD;
        height: 2.563rem;
        border-radius: 2.063rem;
        padding-left: 1rem;
    }
    .Button{
        background-color: #4F13A6!important;
        border-radius: 2.063rem!important;
        height: 2.563rem;
        color: white!important;
        text-transform: capitalize!important;
    }
}

