.Navbar{
    background-color: #42280E;
}


.Text{
    color: yellow;
}

.Active{
    background-color: yellow;
    color: #5E2C04;
}

.RoleInput{
    border: 1px solid #CECACA;
    border-radius: 0.438rem;
}

.RoleInput:focus{
    outline: none;
}