.Name{
    color: #6F6C99;
}

.Notifications{
    background-image: linear-gradient(135deg,#78CCDE, #C438EF);
    border-radius: 0.796rem;
}

.Divider{
    border-left: 1px solid #DADADA;
    height: 2rem;
}